html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}



/* Styling pro horní lištu */
.navbar {
    background-color: #333;
    color: white;
}

.navbar h1 {
    color: white;
    font-size: 24px;
    margin: 0;
}

.navbar .btn-primary {
    border-radius: 50%;
    padding: 10px 15px;
    font-size: 16px;
}

/* Globální styly pro obsah */
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px); /* V závislosti na výšce horní lišty */
    gap: 20px;
}

.square {
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    text-decoration: none;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s;
}

.square:hover {
    transform: scale(1.05);
}

.square span {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}

/* Pøidání stylu pro kulaté tlaèítko */
.login-button {
    border-radius: 50%; /* Kulaté rohy */
    width: 50px; /* Šíøka tlaèítka */
    height: 50px; /* Výška tlaèítka */
    font-size: 16px; /* Velikost textu */
    display: flex; /* Pro centrování textu */
    justify-content: center; /* Centrovat horizontálnì */
    align-items: center; /* Centrovat vertikálnì */
    color: white; /* Barva textu */
}
