<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UTB.Restaurace</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/UTB.Restaurace.styles.css" asp-append-version="true" />
    @await RenderSectionAsync("Styles", required: false)

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid d-flex justify-content-between align-items-center">
                <!-- Centrální název restaurace s odkazem na domovskou stránku -->
                <h1 class="navbar-brand mx-auto">
                    <a asp-area="" asp-controller="Home" asp-action="Index" style="text-decoration: none; color: black;">UTB.Restaurace</a>

                </h1>

                <!-- Kulaté tlačítko pro přihlášení -->
                
                @{
                    @if (User.Identity.IsAuthenticated == false)
                    {
                        <div class="btn btn-primary login-button"><a class="nav-link text-dark" asp-area="Security" asp-controller="Account" asp-action="Login"><i class="bi bi-lock"></i>Login</a></div>
                    }
                    else
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-person"></i> Logged as @User.Identity.Name</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item text-dark" asp-area="Security" asp-controller="Account" asp-action="Logout"><i class="bi bi-box-arrow-right me-1"></i> Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    }
                }
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - UTB.Restaurace - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            &copy; 2024 - UTB.Restaurace - <a asp-area="Admin" asp-controller="Meal" asp-action="Select">Meals</a>
        </div>
    </footer>

    

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        function showDialog() {
            document.getElementById('dialogOverlay').style.display = 'block';
            document.getElementById('loginDialog').style.display = 'block';
        }

        function closeDialog() {
            document.getElementById('dialogOverlay').style.display = 'none';
            document.getElementById('loginDialog').style.display = 'none';
        }

        function login() {
            // Zde bys měl přidat logiku pro přihlášení
            alert('Přihlášení probíhá...');
            closeDialog();
        }
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
