@model Meal
@{
    ViewData["Title"] = "Meal - Edit";
}
<h1>@ViewData["Title"]</h1>
<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <div asp-validation-summary="All"></div>
    <div class="mb-3">
        <label class="form-label" asp-for="Name"></label>
        <input class="form-control" asp-for="Name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Description"></label>
        <input class="form-control" asp-for="Description">
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Price"></label>
        <input class="form-control" asp-for="Price" type="number" step="any">
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Image">Image: </label>
        <input id="File" class="form-control-file" asp-for="Image">
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Category"></label>
        <select class="form-select" asp-for="Category">
            <option value="hlavní jídlo">Hlavní Jídlo</option>
            <option value="nápoj">Nápoj</option>
            <option value="polévka">Polévka</option>
            <option value="dezert">Dezert</option>
        </select>
            <span asp-validation-for="Category" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Available"></label>
        <input class="form-check-input" asp-for="Available" type="checkbox">
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>

@section Scripts
{
    <script src="~/js/Validations/PriceValidation.js"></script>
    <script src="~/js/validations/FirstLetterCapitalizedCZ.js"></script>
    <script src="~/js/Validations/FileContentValidation.js"></script>
}